/* Fuentes */
@font-face{
    
    font-family: 'FuturaRegular';
    src: url('../Fonts/FuturaPTMedium.otf');
}
@font-face{
    font-family: 'FuturaBold';
    src: url('../Fonts/FuturaPTBold.otf');
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  


/* --------------------NAV--------------------- */
.container-fluid .logo-nav{
    height: 80px;
    width: 100%;
    filter: invert(100%);
}
.nav-item{
    padding: 0 10px;
}
.navbar-brand.login-icon img{
    height: 30px;
    
}
/* Color de etiquetas de nav  */
.nav-link{
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 0;
}

.navbar .container-fluid{
    flex-wrap: inherit;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.container-fluid.envio-gratis p{
    color: rgb(0, 0, 0);
    margin: 0;
    font-family: 'FuturaBold';
    font-size: 20px;
    
}

/* Buscador nav  */
.d-flex .form-control.me-2{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}
.d-flex button{
   
    
    border: none;
}
.d-flex button img{
    height: 30px;
    width: auto;
}
.carousel-web{
  display: none;
}

@media(min-width:768px){
  .carousel-mobile{
    display: none;
  }
  .carousel-web{
    display: block;
  }

}


@media(min-width: 1024px){
  
  /* Carrusel */
  .carousel-mobile{
    display: none;
  }
  .carousel-web{
    display: block;
  }
 

}
.conteiner-fluid.articles{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card {
  display: inline-block;
  
  /* Agrega margen, padding, etc. según sea necesario */
}
/* --------------------MAIN--------------- */
/* Secciones Hombre , mujer , chicos */
/* ------------------------------------------------------------------------- */

.shops{
  display: flex;
  justify-content: center;
}
.container {
  width: auto;
  height: auto;
  margin:5px;
  padding: 0px;
}

.container .row .col-12.col-md-6.col-lg-4 a img{
  width: 90%;
  height: auto;
  padding: 0px;
  
}
.col-12.col-md-6.col-lg-4{
  padding: 30px 5px;
}
.col-12.col-md-6.col-lg-4 a{
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.col-12.col-md-6.col-lg-4 a img{
  border-radius: 30px;
  transition: .9s;

}
.col-12.col-md-6.col-lg-4 a:hover{
  transition: .9s;
  transform: scale(1.01);
}
.col-12.col-md-6.col-lg-4 h2{
  font-family: 'Roboto';
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
}
/* ------------------------------------------------------------------ */
/* Sobre nuestras Remeras--------------- */
.sobre-remeras{
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}



/* 
------------------------------------------------------------------ */

/* Scrolling-Wrapper de articulos */
.scrolling-wrapper{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
 
}
.scrolling-wrapper P{
  font-family: 'Roboto',  monospace;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
  border: 0 2px 0px 0 solid black;

}
.modal-dialog{
  display: block;
}
.item{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  padding: 0 40px;
  margin-bottom: 30px;
  
}
.item p{
  text-align: center;
  font-family: 'FuturaRegular', sans-serif;
}
.item .tachado{
  text-decoration: line-through;
  color: red;
  font-size: 16px;
  display: inline-block;
}
.item .precio{
  display: inline-block;
  color: black;
  font-size: 20px;
}
.item .over{
  color: rgba(0, 0, 0, 0.801);
  font-size: 15px;
}
.item button{
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 30px;
  border: none;
 
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: 'FuturaBold', sans-serif;
}
.item button:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: .9s;
}

.item .img-1{
  height: 250px;
  width: 250px;
  object-fit: cover;
  filter: invert(100%);
  
}
.img-2{
  height: 250px;
  width: 250px;
  object-fit: cover;
  
}
.img-3{
  height: 250px;
  width: 250px;
  object-fit: cover;
  filter: brightness(20%);
}
/* ------------------------------------------- */
/* Texto de marca  */
.container-fluid{
  display: flex;  
  justify-content: center;
  align-items: first baseline;
  flex-direction: column;
  border-top: 1px solid black;
  padding-top: 20px;
}
.container-fluid .text{
  font-family: 'FuturaRegular', sans-serif;
  font-size: 20px;
  width: 100%;
  opacity: 0.7;
  text-align: left;
}
.container-fluid h3{
  font-family: 'FuturaBold', sans-serif;
  font-size: 30px;
  text-align: left;
  margin: 0;
  padding: 0;
}




/* --------------------FOOTER--------------- */





