.bg{
    background-image: url(https://cdn.develop.gymshark.com/auth-img.jpg);
    background-position: center center;
    background-size: cover;
    
  }
  .col-12{
    height: 800px;
  }
  
  .texto-boton{
    font-size: 40px;
  }
  .logo-log{
    height: 50px;
  }
  