.contact{
    background-image: url("/images-videos/bg-contacto.jpg");
    background-size: cover;
    background-position: center center;
    height: 900px;
    background-size: cover;
    font-family: 'Roboto',sans-serif;
  } 
  .contenido .logo-kilos-crew{
    filter: invert(0%);
    
    
  }
  .input-group{
    padding: 20px 0 ;
  }
  .container-sm.contacto label{
    color: white;
  }
  .offcanvas-header{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .offcanvas-header .logo-donde-encontrarnos{
    object-fit: cover;
    width: 200px;
    
  }
  
  
  .offcanvas-body iframe{
    padding-top: 20px;
    
  }
  
  .offcanvas-body p{
    color: rgb(0, 0, 0);
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    
  }
  .container-fluid.contenido{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo-kilos-crew{
    padding-bottom: 100px;
    width: 400px;
    filter: invert(100%);
  
  }
  .envio-gratis-contacto{
    font-family: 'FuturaRegular',sans-serif;
    padding: 0;
    h1{
      font-size: 20px;
      text-align: center;
      margin: 0;
      
    }

  }